html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

*:focus {
  outline: 0; }

@font-face {
  font-family: "Flama";
  src: url('../fonts/Flama-light.eot?1477027898');
  src: url('../fonts/Flama-light.eot?&1477027898#iefix') format('embedded-opentype'), url('../fonts/Flama-light.ttf?1477027898') format('truetype'), url('../fonts/Flama-light.otf?1207913754') format('opentype'), url('../fonts/Flama-light.woff?1477027898') format('woff'), url('../fonts/Flama-light.svg?1477027896') format('svg'); }
@font-face {
  font-family: "Flama Bold";
  src: url('../fonts/Flama-black.eot?1477027888');
  src: url('../fonts/Flama-black.eot?&1477027888#iefix') format('embedded-opentype'), url('../fonts/Flama-black.ttf?1477027888') format('truetype'), url('../fonts/Flama-black.otf?1207913686') format('opentype'), url('../fonts/Flama-black.woff?1477027888') format('woff'), url('../fonts/Flama-black.svg?1477027888') format('svg');
  font-weight: bold; }
@font-face {
  font-family: "FlamaCn";
  src: url('../fonts/FlamaCond-light.eot?1477027920');
  src: url('../fonts/FlamaCond-light.eot?&1477027920#iefix') format('embedded-opentype'), url('../fonts/FlamaCond-light.ttf?1477027920') format('truetype'), url('../fonts/FlamaCond-light.otf?1207910354') format('opentype'), url('../fonts/FlamaCond-light.woff?1477027920') format('woff'), url('../fonts/FlamaCond-light.svg?1477027920') format('svg'); }
@font-face {
  font-family: "FlamaCn Bold";
  src: url('../fonts/FlamaCond-bold.eot?1477027906');
  src: url('../fonts/FlamaCond-bold.eot?&1477027906#iefix') format('embedded-opentype'), url('../fonts/FlamaCond-bold.ttf?1477027906') format('truetype'), url('../fonts/FlamaCond-bold.otf?1207910298') format('opentype'), url('../fonts/FlamaCond-bold.woff?1477027906') format('woff'), url('../fonts/FlamaCond-bold.svg?1477027906') format('svg');
  font-weight: bold; }
body {
  font-family: "Flama", Helvetica, Arial, sans-serif;
  color: #231F20;
  font-size: 18px; }

img {
  max-width: 100%; }

a {
  font-family: "Flama Bold", Helvetica, Arial, sans-serif;
  color: inherit;
  text-decoration: none; }

.hide {
  display: none; }

header {
  text-align: center; }
  header .dt_nav {
    margin: 1em 0; }
    header .dt_nav > a {
      margin: 0 3em; }
      header .dt_nav > a:nth-last-child(1) {
        margin-right: 0; }
      header .dt_nav > a:nth-child(1) {
        margin-left: 0; }
  header img {
    vertical-align: middle; }

::selection {
  background: #FFDF22;
  color: white; }

::-webkit-selection {
  background: #FFDF22;
  color: white; }

::-moz-selection {
  background: #FFDF22;
  color: white; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
