@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

*:focus {
  outline: 0; }

@font-face {
  font-family: "Flama";
  src: url('../fonts/Flama-light.eot?1477027898');
  src: url('../fonts/Flama-light.eot?&1477027898#iefix') format('embedded-opentype'), url('../fonts/Flama-light.ttf?1477027898') format('truetype'), url('../fonts/Flama-light.otf?1207913754') format('opentype'), url('../fonts/Flama-light.woff?1477027898') format('woff'), url('../fonts/Flama-light.svg?1477027896') format('svg'); }
@font-face {
  font-family: "Flama Bold";
  src: url('../fonts/Flama-black.eot?1477027888');
  src: url('../fonts/Flama-black.eot?&1477027888#iefix') format('embedded-opentype'), url('../fonts/Flama-black.ttf?1477027888') format('truetype'), url('../fonts/Flama-black.otf?1207913686') format('opentype'), url('../fonts/Flama-black.woff?1477027888') format('woff'), url('../fonts/Flama-black.svg?1477027888') format('svg');
  font-weight: bold; }
@font-face {
  font-family: "FlamaCn";
  src: url('../fonts/FlamaCond-light.eot?1477027920');
  src: url('../fonts/FlamaCond-light.eot?&1477027920#iefix') format('embedded-opentype'), url('../fonts/FlamaCond-light.ttf?1477027920') format('truetype'), url('../fonts/FlamaCond-light.otf?1207910354') format('opentype'), url('../fonts/FlamaCond-light.woff?1477027920') format('woff'), url('../fonts/FlamaCond-light.svg?1477027920') format('svg'); }
@font-face {
  font-family: "FlamaCn Bold";
  src: url('../fonts/FlamaCond-bold.eot?1477027906');
  src: url('../fonts/FlamaCond-bold.eot?&1477027906#iefix') format('embedded-opentype'), url('../fonts/FlamaCond-bold.ttf?1477027906') format('truetype'), url('../fonts/FlamaCond-bold.otf?1207910298') format('opentype'), url('../fonts/FlamaCond-bold.woff?1477027906') format('woff'), url('../fonts/FlamaCond-bold.svg?1477027906') format('svg');
  font-weight: bold; }
body {
  font-family: "Flama", Helvetica, Arial, sans-serif;
  color: #231F20;
  font-size: 18px;
  line-height: normal; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.hide {
  display: none; }

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 2px solid;
  font-family: inherit; }

hr {
  border: none;
  border-top: 2px solid;
  margin: 0; }

.wrap {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }

header {
  text-align: center; }
  header .dt_nav {
    margin-top: 1em;
    margin-bottom: 1em; }
    header .dt_nav > a {
      margin: 0 3em;
      width: 6em;
      display: inline-block;
      font-family: "Flama Bold", Helvetica, Arial, sans-serif; }
      header .dt_nav > a:nth-last-child(1) {
        margin-right: 0; }
      header .dt_nav > a:nth-child(1) {
        margin-left: 0; }
      @media screen and (max-width: 1000px) {
        header .dt_nav > a {
          margin: 0 2em; } }
      @media screen and (max-width: 800px) {
        header .dt_nav > a {
          margin: 0 1.5em;
          font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif;
          width: 4em; } }
      header .dt_nav > a.logo {
        width: initial; }
    @media screen and (max-width: 600px) {
      header .dt_nav {
        display: none; } }
  header img {
    vertical-align: middle; }

.stripe {
  background: #FFDF22;
  text-align: center;
  padding: 0.5em 1em;
  font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .stripe .text_promo {
    font-size: 2em;
    font-family: "FlamaCn", Helvetica, Arial, sans-serif;
    display: inline-block;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -0.2em; }
    .stripe .text_promo strong {
      font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
    @media screen and (max-width: 800px) {
      .stripe .text_promo {
        font-size: 1.5em; } }
    @media screen and (max-width: 600px) {
      .stripe .text_promo {
        font-size: 1.25em;
        max-width: 100%; } }
  .stripe span:nth-child(1),
  .stripe span:nth-last-child(1) {
    position: relative;
    top: 0.5em; }
    @media screen and (max-width: 800px) {
      .stripe span:nth-child(1),
      .stripe span:nth-last-child(1) {
        top: 0.25em; } }
    @media screen and (max-width: 600px) {
      .stripe span:nth-child(1),
      .stripe span:nth-last-child(1) {
        display: none; } }
  .stripe span:nth-child(1) {
    float: left; }
  .stripe span:nth-last-child(1) {
    float: right; }

.mobile.bar {
  display: none;
  background: #FFDF22;
  padding: 0.75em 1em;
  text-align: left;
  height: 2.75em;
  position: relative;
  z-index: 2; }
  .mobile.bar h1 {
    font-family: "Flama Bold", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    margin-left: 1em;
    display: inline-block; }
  @media screen and (max-width: 600px) {
    .mobile.bar {
      display: block; } }
  .mobile.bar .toggle {
    float: right;
    font-size: 1.2em;
    position: relative;
    top: -0.15em;
    border: none; }
.mobile.sub_nav {
  background: black;
  color: white;
  padding: 0.75em 1.5em;
  width: 80%;
  margin: 0 auto; }
  .mobile.sub_nav ul {
    display: none; }
  .mobile.sub_nav li {
    margin-top: 0.75em;
    color: gray; }
  .mobile.sub_nav a.currentId:after {
    content: "▾";
    border: 2px solid;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    display: block;
    float: right;
    text-align: center;
    position: relative;
    top: -0.1em;
    right: -0.5em; }

nav.mobile {
  background: #FFDF22;
  text-align: left;
  padding-left: 3em;
  padding-bottom: 0.5em;
  position: absolute;
  top: -100%;
  z-index: 1;
  width: 100%;
  display: none; }
  nav.mobile a {
    display: block;
    padding: 0.75em; }
    nav.mobile a.sub {
      font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
  @media screen and (max-width: 600px) {
    nav.mobile {
      display: block; } }

.socks {
  background: #FFDF22;
  overflow: auto;
  padding: 2em 1em 3em;
  font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
  .socks a.logo, .socks .social {
    width: 29%;
    display: inline-block; }
  .socks .nav, .socks ul {
    width: 69%;
    display: inline-block; }
  .socks .nav {
    vertical-align: bottom; }
    .socks .nav a {
      margin-right: 2em; }
  .socks ul {
    margin-top: 2em; }
    .socks ul > li {
      float: left;
      width: 25%;
      line-height: 1.3em;
      margin-bottom: 1em; }
  .socks a.tel {
    font-family: "Flama Bold", Helvetica, Arial, sans-serif; }
  .socks a.route {
    padding-right: 0.25em; }
  .socks .social {
    vertical-align: top;
    margin-top: 2em; }
    .socks .social a {
      margin-right: 0.5em; }
  @media screen and (max-width: 600px) {
    .socks {
      padding-bottom: 1em; }
      .socks a.logo {
        position: absolute;
        width: initial; }
      .socks .nav {
        display: none; }
      .socks .social {
        width: 100%;
        text-align: right;
        margin-top: 0.5em; }
      .socks ul {
        width: 100%; }
        .socks ul > li {
          width: 33%; } }
      @media screen and (max-width: 600px) and (max-width: 425px) {
        .socks ul > li {
          width: 50%;
          font-size: 0.9em;
          margin-bottom: 2em; } }

.copyright {
  padding: 1em 1em 0.75em; }
  .copyright a.logo, .copyright .wrap > div {
    display: inline-block;
    vertical-align: middle; }
  .copyright a.logo {
    width: 29%; }
  .copyright .disclaim {
    font-size: 0.75em;
    line-height: normal; }
    @media screen and (max-width: 600px) {
      .copyright .disclaim {
        font-family: "FlamaCn", Helvetica, Arial, sans-serif;
        margin-top: -0.05em; }
        .copyright .disclaim br {
          display: none; } }
  .copyright .sub_nav {
    font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif;
    margin-left: 6%; }
    .copyright .sub_nav a {
      margin-right: 2em; }
  @media screen and (max-width: 600px) {
    .copyright a.logo {
      display: none; } }
  @media screen and (max-width: 800px) {
    .copyright .sub_nav {
      float: right; }
      .copyright .sub_nav a {
        display: none; }
        .copyright .sub_nav a.legal {
          display: block;
          margin: 0; } }

.block {
  position: relative;
  overflow: auto; }
  .block.push_top {
    margin-top: 4em; }
    @media screen and (max-width: 800px) {
      .block.push_top {
        margin-top: 2em; } }
  .block.push_bot {
    margin-bottom: 4em; }
    @media screen and (max-width: 800px) {
      .block.push_bot {
        margin-bottom: 2em; } }
  .block.pad_top {
    padding-top: 4em; }
    @media screen and (max-width: 800px) {
      .block.pad_top {
        padding-top: 2em; } }
  .block.pad_bot {
    padding-bottom: 4em; }
    @media screen and (max-width: 800px) {
      .block.pad_bot {
        padding-bottom: 2em; } }
  .block.no_text > div {
    line-height: 0; }
  .block.no_text img {
    display: block;
    margin: 0 auto; }
  .block.back_center, .block.back_cover {
    background-repeat: no-repeat;
    background-position: center; }
  .block.back_cover {
    background-size: cover; }
  .block .content strong {
    font-family: "Flama Bold", Helvetica, Arial, sans-serif; }
    .block .content strong.condensed {
      font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
  .block .content .condensed {
    font-family: "FlamaCn", Helvetica, Arial, sans-serif; }
    .block .content .condensed strong {
      font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
  .block h2 {
    text-align: center;
    font-family: "Flama Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em; }
    @media screen and (max-width: 800px) {
      .block h2 {
        font-size: 2em; } }
    @media screen and (max-width: 425px) {
      .block h2 {
        font-size: 1.25em; } }
  .block .wrap {
    padding-left: 1em;
    padding-right: 1em; }
  .block.promo.simple a > img {
    display: block;
    width: 100%; }
  .block.promo.simple .large, .block.promo.simple .mobile {
    display: none; }
  @media screen and (max-width: 800px) {
    .block.promo.simple .huge, .block.promo.simple .mobile {
      display: none; }
    .block.promo.simple .large {
      display: block; } }
  @media screen and (max-width: 425px) {
    .block.promo.simple .huge, .block.promo.simple .large {
      display: none; }
    .block.promo.simple .mobile {
      display: block; } }
  .block.promo.complex .content {
    font-size: 2em; }
  .block .locations {
    font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2em; }
    .block .locations a {
      text-transform: uppercase; }
      .block .locations a.current {
        color: #FFDF22; }
      .block .locations a:before {
        content: " – ";
        color: #231F20;
        font-family: "Flama", Helvetica, Arial, sans-serif; }
      .block .locations a:nth-child(1):before {
        content: ""; }
    @media screen and (max-width: 800px) {
      .block .locations {
        font-size: 1.5em; } }
    @media screen and (max-width: 425px) {
      .block .locations {
        font-size: 1em;
        margin-top: 0.25em; } }
  .block.explore .slider {
    margin-top: 2em; }
  .block.explore .mapa {
    width: 70%;
    padding-right: 2em;
    float: left; }
    .block.explore .mapa iframe {
      width: 100%; }
      @media screen and (max-width: 425px) {
        .block.explore .mapa iframe {
          height: 200px; } }
    @media screen and (max-width: 800px) {
      .block.explore .mapa {
        padding-right: 1em; }
        .block.explore .mapa iframe {
          height: 300px; } }
    @media screen and (max-width: 600px) {
      .block.explore .mapa {
        width: 100%;
        padding-right: 0; } }
  .block.explore .contact {
    padding-top: 4em;
    width: 30%;
    float: left; }
    .block.explore .contact h3 {
      font-size: 1.25em; }
    .block.explore .contact h3, .block.explore .contact a {
      font-family: "Flama Bold", Helvetica, Arial, sans-serif; }
    @media screen and (max-width: 800px) {
      .block.explore .contact {
        font-size: 0.75em; } }
    @media screen and (max-width: 600px) {
      .block.explore .contact {
        display: none; } }
  .block.food {
    background-image: url(http://placehold.it/80x40/fff&text=brick);
    border-top: 1em solid #FFDF22;
    text-align: center; }
    .block.food h2 {
      margin: 1em 0; }
    .block.food .mobile {
      display: none; }
    .block.food .price {
      background: #FFDF22;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      display: inline-block;
      padding-top: 0.9em;
      top: -1.25em;
      position: relative;
      margin-bottom: -1em; }
      .block.food .price:before {
        content: "$"; }
    .block.food a.dish {
      font-size: 1.5em;
      font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif;
      display: block;
      float: left;
      margin-right: 1em; }
      @media screen and (max-width: 600px) {
        .block.food a.dish img {
          max-width: 75%; } }
    @media screen and (max-width: 425px) {
      .block.food .large {
        display: none; }
      .block.food .mobile {
        display: block; }
      .block.food .price {
        width: 2.5em;
        height: 2.5em;
        font-size: 0.75em;
        padding-top: 0.75em; } }
  .block.ranking h2 {
    font-family: "FlamaCn Bold", Helvetica, Arial, sans-serif; }
    @media screen and (max-width: 425px) {
      .block.ranking h2 {
        font-size: 1.75em; } }
  .block.ranking ul {
    text-align: center;
    margin-top: 2em; }
  .block.ranking li {
    display: inline-block;
    margin-left: 2em; }
    .block.ranking li:nth-child(1) {
      margin-left: 0; }
  .block.ranking .rating {
    margin: 0.5em 0; }
    .block.ranking .rating span {
      font-size: 1.4em;
      line-height: 0;
      color: #FFDF22; }
      .block.ranking .rating span.half {
        opacity: 0.5; }

::selection {
  background: #FFDF22;
  color: white; }

::-webkit-selection {
  background: #FFDF22;
  color: white; }

::-moz-selection {
  background: #FFDF22;
  color: white; }

a.gotomenu {
  background: #FFDF22;
  font-family: "Flama Bold", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding: 1em 1.5em;
  display: inline-block;
  margin: 2em 0; }
  @media screen and (max-width: 425px) {
    a.gotomenu {
      font-size: 1.25em;
      padding: 0.75em 1em; } }

.shadow {
  text-shadow: -0.1em 0.1em #FFDF22; }

.slider {
  position: relative; }
  .slider .draggable {
    overflow: hidden; }
  .slider button.slick-arrow {
    position: absolute;
    top: 25%;
    background: #FFDF22;
    color: white;
    font-family: "Flama Bold", Helvetica, Arial, sans-serif;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    border: 0;
    line-height: 0;
    z-index: 2; }
    .slider button.slick-arrow.slick-next {
      right: 0.5em; }
    .slider button.slick-arrow.slick-prev {
      left: 0.5em; }
    @media screen and (max-width: 800px) {
      .slider button.slick-arrow {
        top: 25%;
        width: 1em;
        height: 1em; } }

nav.mobile {
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.open_nav nav.mobile {
  top: 2.75em; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }
