::selection
	background: $yellow
	color: white

::-webkit-selection
	background: $yellow
	color: white

::-moz-selection
	background: $yellow
	color: white

a.gotomenu
	background: $yellow
	font-family: $FlamaBold
	font-size: 1.5em
	padding: 1em 1.5em
	display: inline-block
	margin: 2em 0
	@media screen and (max-width: 425px)
		font-size: 1.25em
		padding: .75em 1em

// .caps
// 	text-transform: uppercase

.shadow
	+text-shadow(-.1em .1em $yellow)
