// // wrapper
// .wrapper
//
//
// header
header
	text-align: center
	.dt_nav
		margin: 1em 0
		> a
			margin: 0 3em
			&:nth-last-child(1)
				margin-right: 0
			&:nth-child(1)
				margin-left: 0 
	img
		vertical-align: middle
//
//
// // nav
// .nav
//
//
// // footer
// .footer
