// wrapper
.wrap
	max-width: 80em
	margin-left: auto
	margin-right: auto
	&.tight
		max-width: 50em


// header
header
	text-align: center
	// text-transform: uppercase
	.dt_nav
		margin-top: 1em
		margin-bottom: 1em
		> a
			margin: 0 3em
			width: 6em
			display: inline-block
			font-family: $FlamaBold
			&:nth-last-child(1)
				margin-right: 0
			&:nth-child(1)
				margin-left: 0
			@media screen and (max-width: 1000px)
				margin: 0 2em
			@media screen and (max-width: 800px)
				margin: 0 1.5em
				font-family: $FlamaCnBold
				width: 4em
			&.logo
				width: initial
			&.current span
				border-bottom: 2px solid $yellow
		@media screen and (max-width: 600px)
			display: none
	img
		vertical-align: middle




.stripe
	background: $yellow
	text-align: center
	padding: .5em 1em
	font-family: $FlamaCnBold
	text-transform: uppercase
	// font-size: .75em
	.text_promo
		font-size: 2em
		font-family: $FlamaCn
		display: inline-block
		max-width: 70%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		margin-bottom: -.2em
		strong
			font-family: $FlamaCnBold
		@media screen and (max-width: 800px)
			font-size: 1.5em
		@media screen and (max-width: 600px)
			font-size: 1.25em
			max-width: 100%
	span:nth-child(1),
	span:nth-last-child(1)
		position: relative
		top: .5em
		@media screen and (max-width: 800px)
			top: .25em
		@media screen and (max-width: 600px)
			display: none
	span:nth-child(1)
		float: left
	span:nth-last-child(1)
		float: right




.mobile
	&.bar
		display: none
		background: $yellow
		padding: .75em 1em
		text-align: left
		height: 2.75em
		position: relative
		z-index: 2
		h1
			font-family: $FlamaBold
			font-size: .85em
			margin-left: 1em
			display: inline-block
		@media screen and (max-width: 600px)
			display: block
		.toggle
			float: right
			font-size: 1.2em
			position: relative
			top: -.15em
			border: none
	&.sub_nav
		background: black
		color: white
		padding: .75em 1.5em
		width: 80%
		margin: 0 auto
		position: relative
		text-transform: uppercase
		& > :not(.currentId)
			display: none
		li
			margin-top: .75em
			color: gray
		a.currentId:after
			content: '▾'
			border: 2px solid
			+border-radius(50%)
			width: 1.25em
			height: 1.25em
			display: block
			float: right
			text-align: center
			position: relative
			top: -.1em
			right: -.5em
		button
			border-color: white
			opacity: .5
			display: inline-block
			margin-top: .25em
			line-height: 0
		.instructions
			font-size: .75em


.sub_nav.menu_filter
	ul
		font-family: $FlamaBold
	li.current
		font-family: $FlamaCn
		font-weight: bold
		font-size: 1.5em
		color: $yellow
	@media screen and (min-width: 800px)
		float: left
		width: 14em
		padding: 1.5em
		.currentId
			display: none
		& > :not(.currentId)
			display: block
	.call
		background: $yellow
		color: black
		float: left
		width: 14em
		position: absolute
		bottom: -5em
		left: 0
		padding: 1em
		font-family: $FlamaCn
		text-align: center
		letter-spacing: .1em
		strong
			font-family: $FlamaBold
			font-size: 1.5em
			letter-spacing: 0

// nav

nav.mobile
	background: $yellow
	text-align: left
	padding-left: 3em
	padding-bottom: .5em
	position: absolute
	top: -100%
	z-index: 1
	width: 100%
	display: none
	a
		display: block
		padding: .75em
		&.sub
			font-family: $FlamaCnBold
	@media screen and (max-width: 600px)
		display: block




// footer

.socks
	background: $yellow
	overflow: auto
	padding: 2em 1em 3em
	font-family: $FlamaCnBold
	a.logo img
		max-height: 2em
	a.logo, .social
		width: 29%
		display: inline-block
	.nav, ul
		width: 69%
		display: inline-block
	.nav
		vertical-align: bottom
		text-transform: uppercase
		a
			margin-right: 2em
	ul
		margin-top: 2em
		> li
			float: left
			width: 25%
			line-height: 1.3em
			margin-bottom: 1em
	a.tel
		font-family: $FlamaBold
	a.route
		padding-right: .25em
	.social
		vertical-align: top
		margin-top: 2em
		a
			margin-right: 1em
		img
			max-height: 1.25em
	@media screen and (max-width: 600px)
		padding-bottom: 1em
		a.logo
			position: absolute
			width: initial
		.nav
			display: none
		.social
			width: 100%
			text-align: right
			margin-top: .5em
		ul
			width: 100%
			> li
				width: 33%
				@media screen and (max-width: 425px)
					width: 50%
					font-size: .9em
					margin-bottom: 2em


.copyright
	padding: 1em 1em .75em
	a.logo, .wrap > div
		display: inline-block
		vertical-align: middle
	a.logo
		width: 29%
	.disclaim
		font-size: .75em
		line-height: normal
		@media screen and (max-width: 600px)
			font-family: $FlamaCn
			margin-top: -.05em
			br
				display: none
	.sub_nav
		font-family: $FlamaCnBold
		margin-left: 6%
		a
			margin-right: 2em
	@media screen and (max-width: 600px)
		a.logo
			display: none
	@media screen and (max-width: 800px)
		.sub_nav
			float: right
			a
				display: none
				&.legal
					display: block
					margin: 0
